#root {
    zoom: 92.5%;
}

.app {
    width: 1440px;
}

.app-logo {
    position: absolute;
    width: 568px;
    height: 149px;
    left: 702px;
    top: 131px;
    pointer-events: none;
}

.app-header {
    position: absolute;
    width: inherit;
    height: 521px;
    background: #003366;
    font-size: calc(10px + 2vmin);
}

.tag-line {
    position: absolute;
    width: 490px;
    height: 270px;
    left: 170px;
    top: 125px;

    font-family: Work Sans, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 107.7%;
    /*line-height: 69px; */
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.header-body {
    position: absolute;
    width: 586px;
    height: 82px;
    left: 702px;
    top: 315px;

    font-family: Work Sans, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.app-body {
    background: #E5E5E5;
    width: inherit;
}

.body-header {
    position: absolute;
    width: 1127px;
    height: 210px;
    left: 161px;
    top: 681px;

    font-family: Work Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.015em;
    color: #333333;
}

.body-text {
    position: absolute;
    width: 1127px;
    height: 210px;
    left: 161px;
    top: 781px;

    font-family: Work Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.05em;
    color: #333333;
}

.app-footer {
    position: absolute;
    width: inherit;
    height: 125px;
    left: 0px;
    top: 2076px;
    background-color: #003366;
}

.footer-text {
    position: absolute;
    width: 161px;
    height: 21px;
    left: 161px;
    top: 55px;

    font-family: Work Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.015em;
    color: #00FFFF;
}

.footer-twitter {
    position: absolute;
    width: 49px;
    height: 49px;
    left: 1066px;
    top: 40px;
}

.footer-linkedin {
    position: absolute;
    width: 50px;
    height: 49px;
    left: 1146px;
    top: 40px;
}

.footer-email {
    position: absolute;
    width: 49px;
    height: 49px;
    left: 1227px;
    top: 40px;
}

.sign-up-text {
    position: absolute;
    width: 421px;
    height: 60px;
    left: 161px;
    top: 1722px;

    font-family: Work Sans, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: -0.015em;
    color: #003366;
}

.sign-up-button {
    position: absolute;
    width: 431px;
    height: 69px;
    left: 151px;
    top: 1792px;

    background: #003366;
    border-radius: 40px;
    cursor: pointer;
}

.sign-up-button-text {
    font-family: Work Sans, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 45px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.meet-us {
    position: absolute;
    width: 120px;
    height: 30px;
    left: 161px;
    top: 1908px;

    font-family: Work Sans, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: -0.015em;
    color: #003366;
}

.email-button {
    position: absolute;
    width: 431px;
    height: 69px;
    left: 151px;
    top: 1948px;
    background: #003366;
    border-radius: 40px;
    cursor: pointer;
}

.email-button-text {
    font-family: Work Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 32px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}