.Jason {
    position: absolute;
    width: 248px;
    height: 250px;
    left: 161px;
    top: 967px;

}

.Jason-text {
    position: absolute;
    width: 143px;
    height: 42px;
    left: 161px;
    top: 1231px;

    font-family: Work Sans, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.015em;
    color: #000000;
}

.David {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 444px;
    top: 967px;
}

.David-text {
    position: absolute;
    width: 250px;
    height: 63px;
    left: 448px;
    top: 1231px;

    font-family: Work Sans, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.015em;
    color: #000000;
}


.Steven {
    position: absolute;
    width: 252px;
    height: 250px;
    left: 737px;
    top: 967px;
}

.Steven-text {
    position: absolute;
    width: 198px;
    height: 42px;
    left: 737px;
    top: 1231px;

    font-family: Work Sans, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.015em;
    color: #000000;
}

.Zoey {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 1028px;
    top: 967px;
}

.Zoey-text {
    position: absolute;
    width: 187px;
    height: 42px;
    left: 1028px;
    top: 1231px;

    font-family: Work Sans, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.015em;
    color: #000000;
}

.Dylan {
    position: absolute;
    width: 248px;
    height: 250px;
    left: 161px;
    top: 1318px;
}

.Dylan-text {
    position: absolute;
    width: 162px;
    height: 42px;
    left: 161px;
    top: 1582px;

    font-family: Work Sans, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.015em;
    color: #000000;
}

.Danielle {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 448px;
    top: 1318px;
}

.Danielle-text {
    position: absolute;
    width: 140px;
    height: 42px;
    left: 448px;
    top: 1582px;

    font-family: Work Sans, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.015em;
    color: #000000;
}


.Madisen {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 738px;
    top: 1318px;
}

.Madisen-text {
    position: absolute;
    width: 154px;
    height: 42px;
    left: 738px;
    top: 1582px;

    font-family: Work Sans serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.015em;
    color: #000000;
}

.Omar {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 1028px;
    top: 1318px;
}

.Omar-text {
    position: absolute;
    width: 249px;
    height: 38px;
    left: 1028px;
    top: 1582px;

    font-family: Work Sans, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.015em;
    color: #000000;
}