.image {
    position: absolute;
    width: 250px;
    height: 250px;
}

.text{
    position: absolute;
    width: 249px;
    height: 38px;
    font-family: Work Sans, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.015em;
    color: #000000;
}

#jason-image{
    left: 161px;
    top: 967px;
}

#jason-text {
    left: 161px;
    top: 1231px;
}

#david-image {
    left: 444px;
    top: 967px;
}

#david-text {
    left: 448px;
    top: 1231px;
}


#steven-image {
    left: 737px;
    top: 967px;
}

#steven-text {
    left: 737px;
    top: 1231px;
}

#zoey-image {
    left: 1028px;
    top: 967px;
}

#zoey-text {
    left: 1028px;
    top: 1231px;
}

#dylan-image {
    left: 161px;
    top: 1318px;
}

#dylan-text {
    left: 161px;
    top: 1582px;
}

#danielle-image {
    left: 448px;
    top: 1318px;
}

#danielle-text {
    left: 448px;
    top: 1582px;
}


#madisen-image {
    left: 738px;
    top: 1318px;
}

#madisen-text {
    left: 738px;
    top: 1582px;
}

#omar-image {
    left: 1028px;
    top: 1318px;
}

#omar-text {
    left: 1028px;
    top: 1582px;
}


